{% extends 'base.html.twig' %}
{% block body %}
<div class="main-wrapper">
    {{ include('home/_header.html.twig')}}

     <section class="section-box-2">
        <div class="container-sst">
          <div class="banner-hero banner-image-single">
          <img class="img-banner" src="{{ asset('assets/images/banner/femmee.png') }}" alt="jobbox"><a class="btn-editor" href="#"></a></div>
          <div class="box-company-profile">
            <div class="row mt-10">
              <div class="col-lg-9 col-md-9">
                <h5 class="f-18">Empowering women<br> to change lives</h5>
              </div>
              <div class="col-lg-12 col-md-12 text-end">
                      <ol class="edu-breadcrumb d-flex justify-content-end liststyle mr-4">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="separator"><i class="ri-arrow-drop-right-line"></i></li>
                             <li class="breadcrumb-item active" aria-current="page">About Us</li>
                        </ol>
                </div>
            </div>
          </div>
        </div>
      </section>

        <div id="about-us" class="edu-about-area about-style-1 edu-section-gap bg-color-white">
            <div class="container-sst">
                <div class="row g-5">
                    <div class="col-lg-5">
                        <div class="about-image-gallery">
                            <img class="image-1" src="{{ asset('assets/images/banner/overlay.png') }}" alt="About Main Thumb" />
                            <div class="shape-image shape-image-about d-xl-block d-none"><img src="{{ asset('assets/images/shapes/shape-04-01.png ') }}" alt="Shape Thumb" /></div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="inner">
                            <div class="section-title" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <span class="pre-title-about">About Us</span>
                                <h3 class="title-about">Creating A Community Of Life Long Learners</h3>
                            </div>
                            <p class="description" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                She Starts Africa is a non-for-profit that’s mission is to advance women & increase the number of women actively engaged in the economy through entrepreneurship and leadership.
She Starts Africa aims to decrease the gender-leadership gap by strengthening women’s capacities in entrepreneurship and leadership through targeted and tailor-made programs and by offering a safe space for personal and professional development.
                            </p>
                          <div class="feature-list-wrapper" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Flexible training programs</div>
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Learn from approved experts</div>
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Friendly environment for you</div>
                                <div class="feature-list"><i class="icon-checkbox-circle-fill"></i>Boost your knowledge</div>
                            </div>  
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="about-us" class="edu-about-area about-style-1 edu-section-gap bg-color-white">
            <div class="container-sst">
                <div class="row g-5">
                    
                    <div class="col-lg-5">
                        <div class="inner">
                            <div class="section-title" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <span class="pre-title-about">Our Story</span>
                                <h3 class="title-about">Creating A Community Of Life Long Learners</h3>
                            </div>
                            <p class="description" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nunc null liobortis nibh porttitor. Facilisi arcu, nibh vel risus, morbi pharetra.
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec nunc null liobortis nibh porttitor. Facilisi arcu, nibh vel risus, morbi pharetra.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="about-image-gallery">
                            <img class="image-1" src="{{ asset('assets/images/banner/overlay.png') }}" alt="About Main Thumb" />
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="sst-home-four-service edu-service-area edu-section-gap bg-color-white position-relative">
            <div class="container-sst sst-animated-shape">
                <div class="row sst-about-one-service g-5 mt--20">
                        <h3 class="title-about mb--30">Why this program</h3>
                    <!-- Start Service Grid  -->
                    <div class="col-lg-4 col-md-4 col-12" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                        <div class="service-card service-card-3 text-left shape-bg-1 bg-grey">
                            <div class="inner">
                                <div class="icon">
                                        <img class="icon-1" src="{{ asset('assets/images/icons/rectangle1.png') }}" alt="About Main Thumb" />
                                </div>
                                <div class="content">
                                    <h6 class="title"><a href="#">Access to a holistic training</a></h6>
                                    <p class="description">An inclusive and immersive training tailored to your needs</p>
                                   
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Grid  -->

                    <!-- Start Service Grid  -->
                    <div class="col-lg-4 col-md-4 col-12" data-sal-delay="200" data-sal="slide-up" data-sal-duration="800">
                        <div class="service-card service-card-3 text-left shape-bg-2 bg-grey">
                            <div class="inner">
                                <div class="icon">
                                     <img class="icon-1" src="{{ asset('assets/images/icons/rectangle2.png') }}" alt="About Main Thumb" />
                                </div>
                                <div class="content">
                                    <h6 class="title"><a href="#"> Customized mentorship</a></h6>
                                    <p class="description">A poll of experts will offer you guidance to develop your business.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Grid  -->

                    <div class="col-lg-4 col-md-4 col-12" data-sal-delay="300" data-sal="slide-up" data-sal-duration="800">
                        <div class="service-card service-card-3 text-left shape-bg-4 bg-grey">
                            <div class="inner">
                                <div class="icon">
                                 <img class="icon-1" src="{{ asset('assets/images/icons/rectangle3.png') }}" alt="About Main Thumb" />

                                </div>
                                <div class="content">
                                    <h6 class="title"><a href="#">Safe spacee</a></h6>
                                    <p class="description">You will get support and encouragement from other women. This will help you to unleash your potential.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Service Grid  -->
                </div>               
            </div>
        </div>
        {% if(newsTop) %}
        <div class="sst-home-five-blog edu-blog-area edu-section-gap bg-image">
            <div class="container-sst sst-animated-shape">
                 
                    <div class="row g-5 align-items-center">
                        <div class="col-lg-12 col-md-12 col-12">
                            <div class="section-title text-start" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                <span class="pre-titre">Blog and News</span>
                            </div>
                        </div>
                    </div>
             
                <div class="row g-5 mt--10">
                    <div class="col-lg-6" data-sal-delay="150" data-sal="fade" data-sal-duration="800">
                    
                        <div class="single-slick-card">
                                <div class="edu-card card-type-5 radius-small">
                                    <div class="inner">
                                        <div class="thumbnail">      
                                                <img class="w-100" src="{{ asset('assets/images/news/') }}{{ newsTop.cover }}" alt="Course Thumb">  
                                        </div>
                                        <div class="content">
                                            <h6 class="title bloger"><a class="blog-link" >{{ newsTop.title }}</a></h6>
                                            <ul class="edu-meta meta-01">
                                                <li class="bord-line"><i class="icon-round"></i>{{ newsTop.author }}</li>
                                                <li >{{ newsTop.dateAdd|date("F d,Y") }}</li>
                                            </ul>
                                            <div class="card-bottom">
                                                <div class="read-more-btn">
                                                    <a class="btn-transparent" href="/news/{{ newsTop.slug }}">Read More<i class="icon-arrow-right-line-right"></i></a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                     {% endif %}
                    <div class="col-lg-6">
                        <div class="row g-5">
                            <!-- Start Blog Grid  -->
                             {% for item  in news|sort %}  
                             
                             {% if loop.index < news|length  %}
                                 
                                <div class="col-lg-12 col-md-12 col-12" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                                    <div class="edu-blog blog-type-4 radius-small">
                                        <div class="inner">
                                            <div class="content ">
                                                <h6 class="title bloger"><a class="blog-link-right" href="/news/{{ item.slug }}">{{ item.title }}</a></h6>
                                                <ul class="edu-meta meta-01 bloger">
                                                    <li class="bord-line"><i class="icon-round"></i>{{ item.author }}</li>
                                                    <li >{{ item.dateAdd|date('F d,Y') }}</li>
                                                </ul>
                                                <div class="right card-bottom">
                                                    <div class="read-more-btn blogger">
                                                        <a class="btn-transparent" href="/news/{{ item.slug }}">Read More<i class="icon-arrow-right-line-right"></i></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% endif %}
                              {% endfor %}

                            <!-- End Blog Grid  -->
                        </div>
                    </div>
                </div>
            </div>
            <div class="shape-dot-wrapper shape-wrapper d-xl-block d-none">
                <div class="shape-image shape-image-2">
                    <img src="assets/images/shapes/shape-24-01.png" alt="Shape Thumb" />
                </div>
            </div>
        </div>
    {{ include('home/_partenaires.html.twig')}}
    {{ include('home/_footer.html.twig')}}
{% endblock %}
