<footer class="sst-footer-one edu-footer footer-style-default">
            <div class="footer-top">
                <div class="container-sst-f sst-animated-shape">
                    <div class="row g-5">
                        <div class="col-lg-3 col-md-6 col-sm-12 col-12">
                            <div class="edu-footer-widget">
                                <div class="logo">
                                    <a href="/">
                                        <img class="logo-light" src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/images/logo/rectangle4.png')}}" alt="Site Logo">
                                    </a>
                                </div>
                                <p class="description">contact@shestartsafrica.com</p>
                                <ul class="social-share">
                                    <li><a href="#"><img class="icon icon-f" src="{{ asset('assets/images/icons/facebook.png') }}"></a></li>
                                    <li><a href="#"><img class="icon icon-f" src="{{ asset('assets/images/icons/slack.png') }}"></a></li>
                                    <li><a href="#"><img class="icon icon-f" src="{{ asset('assets/images/icons/instagram.png') }}"></a></li>
                                    <li><a href="#"><img class="icon icon-f" src="{{ asset('assets/images/icons/linkedin.png') }}"></a></li>
                                </ul>
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="edu-footer-widget explore-widget">
                                
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="edu-footer-widget quick-link-widget">
                                
                            </div>
                        </div>

                        <div class="col-lg-3 col-md-6 col-sm-6 col-12">
                            <div class="edu-footer-widget">
                                <h5 class="widget-title">SITEMAP</h5>
                                <div class="inner">
                                    <div class="widget-information">
                                        <ul class="information-list">
                                         
                                            <li><a href="/">Home</a></li>
                                            <li><a href="/espace/prive/venture/">Ventures</a></li>
                                            <li><a href="/espace/prive/training">Training</a></li>
                                            <li><a href="/espace/prive/mentors">Mentors</a></li>
                                            <li><a href="/espace/prive/investor">Investors</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="shape-dot-wrapper shape-wrapper d-md-block d-none">
                        <div class="shape-image shape-image-1">
                            <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/images/shapes/shape-21-01.png') }}" alt="Shape Thumb" />
                        </div>
                        <div class="shape-image shape-image-2">
                            <img src="{{ app.request.scheme ~'://' ~ app.request.httpHost ~ asset('assets/images/shapes/shape-35.png') }}" alt="Shape Thumb" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="copyright-area copyright-default">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="inner text-center">
                                <p>Copyright 2022 <a href="#"></a> Designed By <a href="https://www.numeryx.fr/fr">Numeryx</a>. All Rights Reserved</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </footer>