{% extends 'base.html.twig' %}

{% block body %}
	<div class="main-wrapper">
		{{ include('espace_prive/_header.html.twig')}}
		<section class="section-box-2">
        <div class="container-sst">
          <div class="banner-hero banner-image-single">
          <img class="img-banner" src="{{ asset('assets/images/banner/mentors.png') }}" alt="jobbox"><a class="btn-editor" href="#"></a></div>
          <div class="box-company-profile">
            <div class="row mt-10">
              <div class="col-lg-9 col-md-9">
                <h5 class="f-18">Ventures </h5>
              </div>
              <div class="col-lg-12 col-md-12 text-end">
                      <ol class="edu-breadcrumb d-flex justify-content-end liststyle mr-4">
                            <li class="breadcrumb-item"><a href="/">Home</a></li>
                            <li class="separator"><i class="ri-arrow-drop-right-line"></i></li>
                             <li class="breadcrumb-item active" aria-current="page"> Ventures</li>
                        </ol>
                </div>
            </div>
          </div>
        </div>
      </section>
        <section class="section-box">
			<div class="container-sst-f">
                <div class="row mt--120 ventur-row">
                    <div class="col-lg-6 ">
                        <h1 class="f-venture">Latest Ventures</h1>
                    </div>
                    <div class="col-md-6 text-end"><a class="add-vent" href="/espace/prive/add">Add new venture<span class="plus-icon">+</span></a></div>
                </div>
            </div>
        </section>
        <div class="container-sst-f edu-testimonial-area sst-home-two-testimonial bg-color-white testimonial-card-box-bg edu-section-gap position-relative bg-image">
                <div class="edu-testimonial-activation testimonial-item-3 mt--40 edu-slick-button">

                    <!-- Start Tastimonial Card  -->
                    {% for venture in ventures %}
        
                        <!-- Start Single Card  -->
                        <div class="col-12 col-sm-12 col-xl-4 col-md-6 p-5" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
                            <div class="edu-card card-type-2 ventures radius-small">
                                <div class="inner">
                                    <div class="thumbnail">
                                        <a href="/espace/prive/venture/{{ venture.slug }}">
                                            <img class="w-100" src="{{ asset('assets/images/ventures/')}}{{ venture.cover }}" alt="Course Meta">
                                        </a>
                                    </div>
                                    <div class="content ventures">
                                        <div class="card-top">
                                            <div class="author-meta">
                                                <div class="author-thumb">
                                                    <a href="/espace/prive/venture/{{ venture.slug }}">
                                                        <span class="venture-title">{{ venture.title }}</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                        <h6 class="desc-vent">{{ venture.description|slice(0, 80) ~ '...' }}</h6>
                                        <ul class="edu-meta meta-01">
                                            <li><img class="icon icon-vent" src="{{ asset('assets/images/icons/tag.png') }}">
												{{ venture.sector }}</li>
                                            <li><img class="icon icon-vent" src="{{ asset('assets/images/icons/symbol.png') }}">{{ venture.country }}</li>
                                        </ul>
                                        <ul class="edu-meta meta-01">
                                            <li><img class="icon icon-vent" src="{{ asset('assets/images/icons/calendar.png') }}">
												{{ venture.years|date('Y') }}</li>
                                            <li><img class="icon icon-vent" src="{{ asset('assets/images/icons/group.png') }}">{{ venture.founder }} Founders</li>
                                        </ul>
                                        <div class="card-bottom">
                                            <div class="price-list price-style-01">
                                                <div class="price current-price"><a href="/espace/prive/venture/{{ venture.slug }}">View more</a></div>
                                                <div class="price old-price">
                                                <a href="{{ venture.facebook }}"><i class="icon-Fb"></i></a>
                                                <a href="{{ venture.linkedin }}"><i class="icon-linkedin"></i></a></div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                          {% endfor %}
                    <!-- End Tastimonial Card  -->
</div>
                 
              </div>
			<div class="edu-blog-area sst-home-one-blog">
			<div class="shape-dot-wrapper shape-wrapper d-xl-block d-none">
				<div class="shape-image shape-image-4">
					<img class="turn-img" src="{{ asset('assets/images/shapes/shape-16-01.png')}}" alt="Shape Thumb">
				</div>
			</div>
			
<div class="container-sst" >
				<h1 class="title-sector">Top Sectors</h1>
				<div class="row g-5 mt--30 top-sectors">
                {% for venture in sectors %}
                    <div class="card-sector" data="{{venture.sector}}" style='border-bottom:2px solid {{ random(['#FFAEBC','#2E8BC0', '#A0E7E5', '#B4F8C8', '#FBE7C6','#0C2D48']) }}'>
					    <img class="icon-sector" src="{{ asset('assets/images/icons/vector.png')}}">
					    <p class="sector">{{venture.sector}}</p>
                    </div>
                     {% endfor %}
				</div>
			</div>
            <div class="container-sst" >
				<h1 class="title-sector secter">Top Countries</h1>
				<div class="row g-5 mt--30 top-sectors">
                {% for venture in country %}
                    <div class="card-country" data="{{venture.country}}">
					    <img class="icon-flag" src="{{ asset('assets/images/ventures/flag-icon.jpg')}}">
					    <p class="country">{{venture.country}}</p>
                    </div>
                  {% endfor %}
				</div>
			</div>

			<div class="container-sst ventur">
				<div class="row g-5 align-items-center">
					<div class="col-lg-12 col-md-12 col-12">
						<div class="section-title text-start" data-sal-delay="150" data-sal="slide-up" data-sal-duration="800">
							<h3 class="title">Our Ventures</h3>
						</div>
					</div>
				</div>

				<div class="row g-5 mt--30" id="venture-list">
                  {% include 'ventures/_venture_list.html.twig' with {'ventures': ventures} %}
              	</div>

			</div>

		{{ include('home/_partenaires.html.twig')}}
        {{ include('espace_prive/_footer.html.twig')}}
    </div>

    
<script>
            const country = document.querySelectorAll(".card-country");
            const options = document.querySelectorAll(".card-sector");
            
            country.forEach((option) =>
                option.addEventListener("click", function () {
                    
                   var sector =  $(".card-sector.active").attr('data');
				   jQuery(this).addClass('active');
                    $('.card-country').not(this).removeClass('active');
                   var country = jQuery(this).attr('data');
                    $('html,body').animate({
                    scrollTop: $(".ventur").offset().top},
                    'slow');
                   
                    $.ajax({
                        type:'POST',
                        url: '{{ url('app_discover') }}',
                        data:{ sector: sector,country: country },
                        
                        success:function(data){
                        $('#venture-list').addClass('ajaxio')
                         $('#venture-list').html(data.content);
                        },
                        error: function(data){
                            console.log("error");
                        
                        }
                    });
                })
            );
            
            options.forEach((option) =>
                option.addEventListener("click", function () {
                    
                   var sector = jQuery(this).attr('data');
				   jQuery(this).addClass('active');
                   $('.card-sector').not(this).removeClass('active');
                   var country = $(".card-country.active").attr('data');
                    $('html,body').animate({
                    scrollTop: $(".secter").offset().top},
                    'slow');
                   
                    $.ajax({
                        type:'POST',
                        url: '{{ url('app_discover') }}',
                        data:{ sector: sector,country: country },
                        
                        success:function(data){
                           $('#venture-list').html(data.content); 
                        
                        },
                        error: function(data){
                            console.log("error");
                        
                        }
                    });
                })
            );

        
        </script>
    <style>
    div#venture-list {
    margin-bottom: 15%;
    }
{% endblock %}
